---
- name: Configure Ideal Server
  hosts: servers
  become: true

  tasks:
    - name: Update APT package cache and upgrade all packages
      apt:
        update_cache: yes
        upgrade: dist

    - name: Install prerequisite packages for Docker
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - python3-pip
        state: present

    - name: Add Docker's official GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
        state: present

    - name: Install Docker Engine
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present
        update_cache: yes

    - name: Install Docker module for Python
      pip:
        name: docker
        state: present
        
    - name: Pull the Nginx Docker image
      community.docker.docker_image:
        name: nginx:alpine
        source: pull

    - name: Start a simple Nginx container
      community.docker.docker_container:
        name: web-server
        image: nginx:alpine
        state: started
        restart_policy: always
        published_ports:
          - "80:80"